<div class="input-group mt-3 mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search for users...">
</div>
<br>
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#registermember">
    Register New Member
</button>
<button class="w3-button w3-xlarge w3-circle w3-black" data-bs-toggle="modal"
    data-bs-target="#registermember">+</button>

<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#registerteammember">
    Assign Member to Team
</button>
<button class="w3-button w3-xlarge w3-circle w3-black" data-bs-toggle="modal"
    data-bs-target="#registerteammember">+</button>

<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#pdmember">
    Promote/Demote Member
</button>
<button class="w3-button w3-xlarge w3-circle w3-black" data-bs-toggle="modal" data-bs-target="#pdmember">+</button>

<br><br>

<div class="w3-responsive">
    <table class="w3-table-all w3-card-4" id="usersTable">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Position</th>
                <th>Active Projects</th>
                <th>Completed Projects</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users as |user|}}
            <tr>
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.position}}</td>
                <td>{{user.ongoingTasksCount}}</td>
                <td>{{user.completedTasksCount}}</td>
                <td>
                    <div class="btn-group">
                        <a href="/edit-user/{{user._id}}" class="btn btn-primary">Edit</a>
                        <a href="/view-projects/{{user._id}}" class="btn btn-info">View Projects</a>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



<!-- The Register Member Modal -->
<div class="modal fade" id="registermember">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Member Registration</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form method="post" action="/register" autocomplete="off">
                    <div class="row">
                        <div class="col input-group input-group-lg mb-3">
                            <input type="text" class="form-control" placeholder="Enter first name" name="fname"
                                required>
                        </div>
                        <div class="col input-group input-group-lg mb-3">
                            <input type="text" class="form-control" placeholder="Enter last name" name="lname" required>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col input-group input-group-lg mb-3">
                            <input type="email" class="form-control" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="col input-group input-group-lg mb-3">
                            <input type="text" class="form-control" placeholder="Enter Password" name="pswd">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col input-group input-group-lg mb-3">
                            <input type="text" pattern="[0-9]+" class="form-control" placeholder="Enter Phone Number"
                                name="phoneno" required>
                        </div>
                        <div class="col input-group input-group-lg mb-3">
                            <select class="form-select" name="position">
                                <option name="teamm" value="teamm">Team member</option>
                                <option name="teaml" value="teaml">Team Leader</option>
                                <option name="mm" value="mm">Manager</option>
                            </select>
                        </div>
                    </div>
                    <br><br><br>
                    <button type="submit" class="btn btn-primary"
                        onclick="return confirm('Are you sure you want to Register this user?');">Submit
                        Data</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Assign Team Member Modal -->
<div class="modal fade" id="registerteammember">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">New Team Member Registration</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form action="/assignusertoteam" method="POST">
                    <label for="userId">Select User:</label><br>
                    <select id="userId" name="userId">
                        {{#each teamMembers}}
                        <option value="{{_id}}">{{username}} - {{fname}} {{lname}}</option>
                        {{/each}}
                    </select><br>
                    <label for="teamId">Select Team:</label><br>
                    <select id="teamId" name="teamId">
                        {{#each teams}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select><br>
                    <button type="submit" onclick="return confirm('Are you sure you want to proceed?');">Assign User
                        to Team</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<!-- The Promote/Demote Member Modal -->
<div class="modal fade" id="pdmember">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Role Re-assignment</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Tabs for Promote and Demote Forms -->
                <ul class="nav nav-tabs" id="tabMenu" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="promote-tab" data-bs-toggle="tab" data-bs-target="#promote"
                            type="button" role="tab" aria-controls="promote" aria-selected="true">Promote Member to
                            Leader</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="demote-tab" data-bs-toggle="tab" data-bs-target="#demote"
                            type="button" role="tab" aria-controls="demote" aria-selected="false">Demote Leader to
                            Member</button>
                    </li>
                </ul>

                <!-- Tab panes for Promote and Demote Forms -->
                <div class="tab-content" id="tabContent">
                    <div class="tab-pane fade show active" id="promote" role="tabpanel" aria-labelledby="promote-tab">
                        <form id="promoteForm" action="/promote" method="POST">
                            <label for="memberSelect" class="form-label">Select Member to Promote:</label>
                            <select id="memberSelect" name="userId" class="form-select" required>
                                {{#each teamMembers}}
                                <option value="{{_id}}">{{fname}} {{lname}}</option>
                                {{/each}}
                            </select>
                            <button type="submit" class="btn btn-primary mt-3"
                                onclick="return confirm('Are you sure you want to promote this user?');">Promote to
                                Leader</button>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="demote" role="tabpanel" aria-labelledby="demote-tab">
                        <form id="demoteForm" action="/demote" method="POST">
                            <label for="leaderSelect" class="form-label">Select Leader to Demote:</label>
                            <select id="leaderSelect" name="userId" class="form-select" required>
                                {{#each teamLeaders}}
                                <option value="{{_id}}">{{fname}} {{lname}}</option>
                                {{/each}}
                            </select>
                            <button type="submit" class="btn btn-danger mt-3"
                                onclick="return confirm('Are you sure you want to demote this user?');">Demote to
                                Member</button>
                        </form>
                    </div>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var value = $(this).val().toLowerCase();
            $('#usersTable tbody tr').filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

<h1>Users</h1>
<div class="w3-responsive">
    <table class="w3-table-all w3-card-4" id="usersTable">
        <thead>
            <tr>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Position</th>
                <th>Active Projects</th>
                <th>Completed Projects</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            {{#each users as |user|}}
            <tr>
                <td>{{user._id}}</td>
                <td>{{user.fname}}</td>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.position}}</td>
                <td>{{user.ongoingTasksCount}}</td>
                <td>{{user.completedTasksCount}}</td>
                <td>{{user.team}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<h1>Teams</h1>
<div class="w3-responsive">
    <table class="w3-table-all w3-card-4">
        <thead>
            <tr>
                <th>Team Name</th>
                <th>Team Leader</th>
                <th>Team Members</th>
            </tr>
        </thead>
        <tbody>
            {{#each teams as |team|}}
            <tr>
                <td>{{team.name}}</td>
                <td>{{team.leader.fname}} {{team.leader.lname}}</td>
                <td>
                    {{#each team.members as |member|}}
                    {{member.fname}} {{member.lname}}
                    {{#unless @last}}, {{/unless}}
                    {{/each}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<h1>Tasks</h1>
<div class="w3-responsive">
    <table class="w3-table-all w3-card-4" id="usersTable">
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Task Des</th>
                <th>Statust</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Completion Date</th>
                <th>Team</th>
                <th>Files</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks as |task|}}
            <tr>
                <td>{{task.taskName}}</td>
                <td>{{task.description}}</td>
                <td>{{task.status}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.dueDate}}</td>
                <td>{{task.date}}</td>
                <td>{{task.team}}{{task.team.name}}</td>
                <td>{{task.files}}</td>
                <td>{{task.comments}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<h1>Comments</h1>
<div class="w3-responsive">
    <table class="w3-table-all w3-card-4" id="usersTable">
        <thead>
            <tr>
                <th>Commenter</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            {{#each comments as |comment|}}
            <tr>
                <td>{{comment.commenter}}</td>
                <td>{{comment.content}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<div>
    <form method="post" action="/dbdrop/user"><button type="submit">Drop User collection</button></form>
</div>
<div>
    <form method="post" action="/dbdrop/team"><button type="submit">Drop Team collection</button></form>
</div>
<div>
    <form method="post" action="/dbdrop/task"><button type="submit">Drop Task collection</button></form>
</div>
<div>
    <form method="post" action="/dbdrop/forum"><button type="submit">Drop Forum collection</button></form>
</div>